
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>

			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">

						<div class="col-md-6" align="center">
							<h3>Honda Monarca Morelia</h3><br>
<span class="single-project-content">
                    <img alt="Honda Monarca Morelia" src="images/fachada-honda-monarca.jpg"></span>
                    <li><span><i class="fa fa-home"></i>Av. Acueducto #2865</span> <span>Col. Lomas de Hidalgo. </span> <span> Morelia, Michoacán</span></li>                      
						</div>

            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div >

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.3971892956984!2d-101.16023268468109!3d19.695707037317366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d11ff62b9cd2b%3A0x535c2362a58abe2f!2sHonda+Monarca!5e0!3m2!1ses-419!2smx!4v1553627639068" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>

</body>
</html>